// project container

.project__inner {
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
  transition:  ease-in-out  .5s;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;

  &:hover {
    box-shadow: 3px 3px 20px rgba(7, 219, 247, 0.5);
    transform: translateY(-5px);
  }
  @media (min-width: 768px) {
    padding: 20px;
    .project__detail {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 480px) {
      display: block;
      margin-left: 1.5rem;
    }
  }
  
}

// project title

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
}
.project__image {
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  opacity: 1;

  width: 100%;
  height: auto;
  opacity: 0.3;
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:hover,
  &:focus {
    transition: 0.5s ease;
    opacity: 1;
  }
}

// project description

.project__detail {
  color: #ccd6f6;
  font-family: var(--font-opensans);
  line-height: 1.4;
  margin-bottom: 20px;
  flex: 1;

  p {
    font-size: 1rem;
  }
}

.project__icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  color: #ccd6f6;

  span {
    &:hover {
      transform: translateY(-5px);
      transition: var(--transition);
      color: var(--neon-color);
    }
  }
}



// tech stacks

.tech {
  color: var(--neon-color);

  small {
    font-size: 0.8rem;
    font-weight: 700;
    margin-right: 15px;
    display: inline-block;
  }
}