.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  span {
    color: var(--neon-color);
    margin-bottom: 10px;

    @media (max-width: 480px) {
      margin: 0 0 20px 2px;
    }
  }

  .hero__title {
    color: var(--neon-color);
    font-size: 1rem;
    font-family: var(--font-opensans);
    margin-bottom: 10px;
  }

  .hero__subtitle {
    color: var(--text-light-grey);
    font-size: 3rem;
    margin-bottom: 15px;

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }
  p {
    color: var(--text-medium-grey);

    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  @media (max-width: 480px) and (min-height: 700px) {
    padding-bottom: 10vh;
  }
  @media (max-width: 480px) {
    font-size: 1rem;
    padding: 1em;
  }
}
