.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

  .contact__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    

    h1 {
      color: var(--neon-color);
      font-size: calc(35px + 1vw);
    }
  }

  .contact__info {
    margin-bottom: 40px;

    p {
      color: #c0ccf1;
      line-height: 1.4;
      width: 100vw;
      max-width: 700px;
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      margin-left: 1.5rem;
    }
  }

  a {
    @media (max-width: 480px) {
      margin-left: 30px;
    }
  }

  h2 {
    color: #8892b0;
    line-height: 1.4;
    width: 100vw;
    max-width: 700px;
    font-size: 1.5rem;
  }

  
  @media screen and (max-width: 480px) {
    margin-left: 10px;
    flex-direction: column;
    gap: 5rem;
    height: 40rem;
  }
}
