.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

  .contact__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

    h1 {
      color: #ccd6f6;
      font-size: calc(35px + 1vw);
    }
  }

  .contact__info {
    margin-bottom: 40px;
    font-size: 1rem;

    p {
      color: #8892b0;
      line-height: 1.4;
      width: 100vw;
      max-width: 700px;
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  a {
    @media (max-width: 480px) {
      margin-left: 30px;
    }
  }

  h3 {
    color: #8892b0;
    line-height: 1.4;
    width: 100vw;
    max-width: 700px;
    font-size: 1.5rem;
  }

  .contact__form {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 3rem;
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }

    .user {
      width: 20rem;
      height: 2rem;
      padding: 0.3rem;
      outline: none;
      border: 2px solid var(--medium-grey);
      border-radius: 0.5rem;
      font-size: 1.2rem;

      @media (max-width: 480px) {
        width: 15rem;
      }
    }
    textarea {
      height: 4rem !important;
    }
  }
  @media screen and (max-width: 480px) {
    margin-left: 10px;
    flex-direction: column;
    gap: 5rem;
    height: 40rem;
  }
}

.c-blur1 {
  top: 1rem;
  left: 8rem;
}
