.header {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  position: sticky;
  top: 0;
  background-color: transparent;
  width: 100%;




  .nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

    .nav__link {
      cursor: pointer;
      text-decoration: none;
      color: var(--neon-color);
      font-size: 1rem;

      &:hover {
        color: var(--neon-color);
      }
    }
    

     @media (max-width: 1080px) {
       width: 400px;
     }
       
  }

      .nav-btn {
        background: none;
        border: none;
      }

      .items {
        display: flex;
        transition: visibility 350ms ease, opacity 400ms ease, transform 500ms ease-in-out;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        transform: translateX(-15px);

    }

    .items-show{
            display: flex;
            opacity: 1;
            visibility: visible;
            overflow: hidden;
            transform: translateX(15px);
            transition: visibility 350ms ease, opacity 400ms ease, transform 500ms ease-in-out;
    }
}