.sidebar__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  position: fixed;
  padding-top: 200px;
  bottom: 0;
  left: 20px;

  .sidebar__icons {
    display: flex;
    flex-direction: column;

    a {
      margin: 50px 0;
      font-size: 25px;
      color: #a7a9be;
      transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

      &:hover {
        transform: translateX(-5px);
        color: var(--neon-color);
      }
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.sidebar__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  list-style: none;
  margin: 70px 0;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    margin-right: 2rem;
  }

  @media screen and (max-width: 480px) {
    margin-right: 2rem;
  }
}

